name: CI Backend API

on:
push:
branches: ["main"]
pull_request:
branches: ["main"]

jobs:
build-check:
runs-on: ubuntu-latest
steps:
- name: Checkout
uses: actions/checkout@v4

- name: Setup Node
uses: actions/setup-node@v4
with:
node-version: 20
cache: npm
cache-dependency-path: package-lock.json

- name: Install deps
run: npm ci

- name: Generate Prisma Client
run: npx prisma generate

- name: Syntax check
run: node -c src/server.js

- name: Build Docker image (smoke)
run: docker build -t gf-api-ci:latest .
